.banner-main {
    padding: 0 5%;
    height: 70vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.banner-main:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 20%;
  bottom: 0;
  background: linear-gradient(0deg, #141414 0%, transparent 100%);
}
.banner-main section {
    width: 45%;
    display: flex;
    flex-direction: column;
}
.banner-main section img {
    width: 100%;
    height: auto;
    align-self: center;
    border-radius: 15px;
    align-content: center;
}
p {
    font-family: 'Josefin Sans', sans-serif;
    font-style: bold;
    font-weight: 300;
    font-size: 40px;
    line-height: 45px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;

}
i {
    font-family: 'Josefin Sans', sans-serif;
    font-style: bold;
    font-weight: 300;
    font-size: 19px;
    line-height: 26px;
    margin-top: 10px;
    text-align: justify;
}



@media (max-width: 800px) {
    .banner-main {
        padding-top: 100px;
        flex-direction: column;
        height: 90vh;
    }
    .banner-main section {
        width: 100%;
    }
    h2 {
        font-size: 32px;
        text-align: center;
    }
}